*{
    background-color: black;
    color: white;
}


h1{
    color: gold;
    font-style: oblique;
}

#para1{
    color: red;
    background-color: white;
    font-size: larger;
}

#para2{
    color: green;
    background-color: white;
    font-size: larger;
}

#para3{
    color: purple;
    background-color: white;
    font-size: larger;
}

#div1{
    border: 10px;
    border-color: purple;
    border-style: solid;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 70px;
    background-color: white;
    display: inline-block
    
    
}

button{
    background-color: black;
    color: gold;
    border-radius: 5px;
    border-color: gold;
    padding: 3px;
}

#num{
    border-color: black;
    background-color: beige;
    color: black;
}

input,button{
    margin-left: 7px;
}




